<!DOCTYPE html>
<head>
  <title>COS521 - Project - vpb</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='logo_96_en_new.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <img src="{{ url_for('static', filename='logo_96_en_new.png') }}" class="icon" />
  <h3>COS521 - GPT-3 Based Rule Generation</h3>

  <form id="submission">
    <textarea name="prompt" cols="80" rows="10" required>
      Enter a rule
    </textarea>
    <input type="submit" value="Generate symbolic rule" />
  </form>

  <div id="result"></div>
  
  <script>
    function sendPrompt(event) {
      event.preventDefault();
          
      $.ajax({
        method: 'POST',
        url: {{ url_for('run_model')|tojson }},
        data: $(this).serialize()
      }).done(displayResult);
    }
    
    function displayResult(data) {
        $("#result").text(data.result);
    }

    $('#submission').on('submit', sendPrompt);
  </script>

</body>
