{% extends "base.html" %}

{% block title %}COS521 - GPT-3 Based Rule Generation{% endblock %}

{% block content %}
<form id="submission">
  <div>
    Model:
    <select name="model" id="model-select"></select>
  </div>
  <textarea name="prompt" cols="80" rows="10" required>Enter a rule</textarea>
  <input id="prompt-submit" type="submit" value="Generate symbolic rule" disabled/>
</form>

<div id="result"></div>

<a href="{{ url_for('new_model') }}">New model...</a>

<script>
  function sendPrompt(event) {
    event.preventDefault();
    $("#prompt-submit").prop("disabled", true);
        
    $.ajax({
      method: 'POST',
      url: "{{ url_for('run_model') }}",
      data: $(this).serialize()
    }).done(displayResult);
  }
  
  function displayResult(data) {
    $("#result").text(data.result);
    $("#prompt-submit").prop("disabled", false);
  }
  
  function pageLoad() {
    $.ajax({
      method: 'GET',
      url: "{{ url_for('models') }}",
    }).done(loadModels);
  }

  function loadModels(data) {
    data["models"].forEach(element => $("#model-select").append(new Option(element, element)));
    $("#prompt-submit").prop("disabled", false);
  }

  $('#submission').on('submit', sendPrompt);
  $(document).ready(pageLoad);
</script>
{% endblock %}
