{% extends "base.html" %}

{% block title %}COS521 - New model{% endblock %}

{% block content %}
See the documentation <a href="https://beta.openai.com/docs/api-reference/fine-tunes/create">here</a>.

<form id="submission">
    <label for="training-file">Training file:</label>
    <input type="file" id="training-file" name="training-file" />
    <label for="model">Model:</label>
    <select id="model" name="model">
        <option>ada</option>
        <option>babbage</option>
        <option>curie</option>
        <option>davinci</option>
    </select>
    <label for="suffix">Name: </label>
    <input type="text" id="suffix" name="suffix" />
    <input id="model-submit" type="submit" />
</form>

<div id="result"></div>

<a href="{{ url_for('index') }}">Back...</a>

<script>
  function createFineTune(event) {
    event.preventDefault();
    $("#model-submit").prop("disabled", true);
          
    var reader = new FileReader();
    var file = $("#training-file")[0].files[0];
    reader.readAsText(file, 'UTF-8');
    reader.onload = shipOff;
          
    //https://stackoverflow.com/questions/4006520/using-html5-file-uploads-with-ajax-and-jquery
    function shipOff(event) {
        var formData = new FormData(document.getElementById("submission"));
        formData.append("training-file", event.target.result)
            
        $.ajax({
          method: 'POST',
          url: "{{ url_for('new_fine_tune') }}",
          data: formData,
          cache: false,
          contentType: false,
          processData: false
        }).done(displayResult);
    }
  }

  function displayResult(data) {
    $("#result").text(data.result);
    $("#model-submit").prop("disabled", false);
  }

  $('#submission').on('submit', createFineTune);
</script>
{% endblock %}